{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
</head>
<body>
    <div class="container">
        <ol >
            {% for friend in friends %}
                <li>
                    {{friend.first_name}}
                    {{friend.last_name}}
                </li>
            {% endfor %}
        </ol>
    </div>


</body>
</html>